<!DOCTYPE html>
<html>
<head>
  <title>ReactCourse</title>

  <link rel="stylesheet" href="/vendor/styles/xcode.css">
  <script src="/vendor/scripts/highlight.pack.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <script src="/vendor/scripts/sortFunction.js"></script>
  <script src="/vendor/scripts/tableSortingPlugin.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/header' %>

<div class="container">
  <%= active_class("kiska") %>
  <%= yield %>
</div>

<%= render 'partials/footer' %>

</body>
</html>
